/* Standard Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(85, 55, 0);
  width: 100vw;
  height: 100vh;

  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  padding: 5px;
}

h1 {
  margin-bottom: 20px;
  font-size: 5rem;
  color: burlywood;
}

button {
  padding: 3px 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
  background-color: rgb(212, 212, 212);
}

p {
}

#bookContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.book-card {
  border: 1px solid #a30202;
  border-radius: 10px;
  height: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0.25rem;
  width: 200px;
  background-color: blanchedalmond;
}

.book-card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.delete_btn,
.delete_All_Btn {
  background-color: red;
  color: whitesmoke;
  max-width: 100px;
  margin-bottom: 5px;
}

.search_btn,
.submit-btn {
  max-width: 100px;
  margin: 5px;
}

.book-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

label {
  display: flex;
  justify-content: space-between;
  /* padding: 5px; */
  margin-bottom: 5px;
  border: 1px black solid;
  color: rgb(255, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
}

input {
  padding: 2px;
  border-radius: 3px;
}

.book_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.is_favorite {
  background-color: rgb(150, 3, 255);
}

.book_list {
  width: 100vw;
  display: flex;
  flex-direction: row;
}
